@import "gallery";

body {
  font-size: 13px !important;
  position: relative;
  overflow-x: hidden;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #717171 !important;
}

body,
html { height: 100%;}

#app{
  padding-bottom: 60px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000000; }
.loader img {
  position: relative;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px; }

.fa-btn {
  margin-right: 6px; }

.select2-container {
  width: 100% !important; }

.jumbotron {
  background: url("/img/bg-home.jpg") #f5f5f5;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px 2px #000000; }
.jumbotron h1 {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px; }
.jumbotron p {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  font-size: 12px; }

.form-control {
  font-size: 12px;
  padding: 3px 6px; }

label {
  text-transform: uppercase;
  margin-bottom: 0; }

.panel-heading {
  font-size: 14px; }

.panel-title {
  font-size: 14px; }

.btn {
  padding: 6px 12px;
  font-size: 14px; }

.dropdown-menu {
  font-size: 12px;
  text-transform: uppercase; }

.tab-pane {
  padding: 15px;
  border: solid 1px #ddd;
  border-top: none; }

.B300x250 {
  float: left;
  width: 300px;
  height: 250px;
  margin: 15px;
  border: solid 1px black;
  background-color: #fff; }
.B300x250 .item-description {
  position: absolute;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  text-align: right;
  width: 160px;
  margin-left: 135px;
  font-weight: bold;
  float: right;
  font-size: 14px;
  line-height: 1;
  z-index: 10; }
.B300x250 .size {
  text-align: center;
  padding: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px; }
.B300x250 .price {
  font-weight: bold;
  background: #333;
  color: white;
  position: absolute;
  width: 110px;
  border-radius: 0 0 4px 4px;
  height: 110px;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  padding-top: 35px;
  margin-left: 10px;
  line-height: 0.7;
  margin-top: 90px;
  z-index: 10; }
.B300x250 .image {
  position: absolute;
  margin-top: 70px;
  margin-left: 120px; }
.B300x250 .image img {
  width: 175px;
  position: relative;
  bottom: 15px;
  float: right; }
.B300x250 .logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  background: #eee;
  border-radius: 4px;
  padding: 5px; }
.B300x250 .logo img {
  width: 100px; }
.B300x250 .bottom {
  position: absolute;
  width: 298px;
  height: 13px;
  margin-top: 235px;
  background: #333;
  color: #fff;
  font-size: 9px;
  text-align: center;
  padding-top: 1px; }
.B300x250 .bottom .url {
  font-weight: bold;
  text-transform: uppercase; }
.B300x250 .valid-dates {
  position: absolute;
  width: 280px;
  margin-top: 225px;
  text-align: center;
  margin-left: 10px;
  font-size: 9px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase; }

.B600x600 {
  float: left;
  width: 600px;
  height: 600px;
  margin: 15px;
  border: solid 1px black;
  }
.B600x600 .item-description {
  position: absolute;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  width: 580px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  z-index: 10; }
.B600x600 .size {
  text-align: right;
  padding: 10px;
  font-weight: normal;
  font-size: 21px;
  line-height: 1; }
.B600x600 .price {
  font-weight: bold;
  background: white;
  color: black;
  position: absolute;
  width: 580px;
  border-radius: 6px;
  padding: 5px;
  font-size: 60px;
  text-align: right;
  margin-left: 10px;
  line-height: 0.7;
  margin-top: 460px;
  z-index: 10;
  padding-top: 20px;
  height: 130px;
  padding-right: 15px; }
.B600x600 .image {
  position: absolute;
  margin-top: 100px;
  margin-left: 95px; }
.B600x600 .image img {
  width: 410px;
  position: relative;
  bottom: 15px;
  float: right; }
.B600x600 .logo {
  position: absolute;
  margin-top: 430px;
  margin-left: 25px;
  z-index: 10; }
.B600x600 .logo img {
  width: 220px; }
.B600x600 .bottom {
  position: absolute;
  width: 498px;
  height: 30px;
  margin-top: 470px;
  background: black;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
  display: none; }
.B600x600 .bottom .url {
  color: yellow;
  text-transform: uppercase; }
.B600x600 .valid-dates {
  position: absolute;
  width: 560px;
  margin-top: 560px;
  margin-left: 20px;
  text-align: left;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 11;
  color: white;
  text-align: center;
  background: black;
  border-radius: 4px;
  padding: 5px; }

.B728x90 {
  float: left;
  width: 728px;
  height: 90px;
  margin: 15px;
  border: solid 1px black;
  background-color: #fff; }
.B728x90 .item-description {
  position: absolute;
  color: black;
  padding: 15px;
  text-transform: uppercase;
  text-align: left;
  width: 360px;
  margin-left: 300px;
  font-weight: bold;
  float: right;
  font-size: 21px;
  line-height: 1;
  z-index: 10;
  margin-top: 5px; }
.B728x90 .size {
  text-align: center;
  padding: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px; }
.B728x90 .price {
  font-weight: bold;
  background: #333;
  color: white;
  position: absolute;
  width: 110px;
  padding: 5px;
  font-size: 24px;
  text-align: center;
  margin-left: 100px;
  line-height: 0.7;
  margin-top: 10px;
  z-index: 9;
  min-height: 70px;
  max-height: 70px;
  padding-top: 15px;
  border-radius: 4px; }
.B728x90 p {
  margin: 0; }
.B728x90 .image {
  position: absolute;
  margin-top: 20px;
  margin-left: 220px; }
.B728x90 .image img {
  height: 80px;
  position: relative;
  bottom: 15px;
  float: right; }
.B728x90 .logo {
  position: absolute;
  margin: 10px;
  background: #eee;
  border-radius: 4px 0 0 4px;
  z-index: 10; }
.B728x90 .logo img {
  height: 70px; }
.B728x90 .bottom {
  display: none;
  position: absolute;
  width: 298px;
  height: 15px;
  margin-top: 235px;
  background: #333;
  color: #fff;
  font-size: 9px;
  text-align: center;
  padding-top: 1px; }
.B728x90 .bottom .url {
  font-weight: bold;
  text-transform: uppercase; }
.B728x90 .valid-dates {
  position: absolute;
  width: 280px;
  margin-top: 65px;
  text-align: left;
  margin-left: 315px;
  font-size: 9px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase; }

.B160x600 {
  float: left;
  width: 160px;
  height: 600px;
  margin: 15px;
  border: solid 1px black;
  background-color: #fff; }
.B160x600 .item-description {
  position: absolute;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  margin-left: 10px;
  margin-top: 140px;
  font-weight: bold;
  float: right;
  font-size: 18px;
  line-height: 1;
  z-index: 10; }
.B160x600 .size {
  text-align: center;
  padding: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px; }
.B160x600 .price {
  font-weight: bold;
  background: #333;
  color: white;
  position: absolute;
  width: 140px;
  border-radius: 4px;
  height: 110px;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  padding-top: 35px;
  margin-left: 10px;
  line-height: 0.7;
  margin-top: 410px;
  z-index: 9; }
.B160x600 .image {
  position: absolute;
  margin-top: 260px;
  margin-left: 10px; }
.B160x600 .image img {
  width: 140px;
  position: relative;
  bottom: 15px;
  float: right; }
.B160x600 .logo {
  position: absolute;
  margin: 10px;
  background: white;
  border-radius: 4px;
  z-index: 10; }
.B160x600 .logo img {
  width: 140px; }
.B160x600 .bottom {
  position: absolute;
  width: 158px;
  height: 30px;
  margin-top: 570px;
  background: #333;
  color: #fff;
  font-size: 9px;
  text-align: center;
  padding-top: 1px; }
.B160x600 .bottom .url {
  font-weight: bold;
  text-transform: uppercase; }
.B160x600 .valid-dates {
  position: absolute;
  width: 140px;
  margin-top: 540px;
  text-align: center;
  margin-left: 10px;
  font-size: 9px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase; }

.B320x50 {
  float: left;
  width: 320px;
  height: 50px;
  margin: 15px;
  border: solid 1px black;
  background-color: #fff; }
.B320x50 .item-description {
  position: absolute;
  color: black;
  text-transform: uppercase;
  text-align: left;
  width: 135px;
  margin-left: 120px;
  margin-top: 3px;
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
  z-index: 10; }
.B320x50 .size {
  text-align: center;
  padding: 10px;
  font-weight: normal;
  font-size: 8px;
  line-height: 1; }
.B320x50 .price {
  font-weight: bold;
  background: #333;
  color: white;
  position: absolute;
  width: 65px;
  height: 48px;
  max-height: 48px;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
  margin-left: 255px;
  line-height: 0.7;
  z-index: 10; }
.B320x50 .image {
  position: absolute;
  margin-left: 67px; }
.B320x50 .image img {
  height: 48px; }
.B320x50 .logo {
  position: absolute;
  background: white; }
.B320x50 .logo img {
  height: 48px; }
.B320x50 .bottom {
  display: none;
  position: absolute;
  width: 298px;
  height: 15px;
  margin-top: 235px;
  background: black;
  color: #fff;
  font-size: 9px;
  text-align: center;
  padding-top: 1px; }
.B320x50 .bottom .url {
  font-weight: bold;
  text-transform: uppercase; }
.B320x50 .valid-dates {
  position: absolute;
  width: 160px;
  margin-top: 38px;
  text-align: left;
  margin-left: 120px;
  font-size: 6px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase; }

/** BFL STYLES */
.nav-ads > li > a {
  padding: 5px 10px !important;
  font-size: 0.8em !important; }

.footer {
  min-height: 60px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1.5px; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

@media print {
  .no-print, .no-print * {
    display: none !important; } }

.footer{
  min-height: 60px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1.5px;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}

.reports > .row {
  padding-bottom: 15px;
}
.chart {
  border-radius: 3px;
  background-color: #fafafa;
  padding: 10px;
}
.chart > h1 {
  font-size: 14px;
  margin-top: 0;
}
.chart > span {
  font-size: 20px;
  font-weight: bold;
}
.chart > .nav-tabs > li.active > a {
  background-color: #999;
  color: #fff;
}