body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
  text-transform: capitalize;
}
span{
  text-transform: uppercase;
}
.container{
  width: 1280px;
  height: 1978px;
  margin: 0 auto;
  border: solid 1px #cccccc;
}
.header{
  height: 275px;
  width: 1280px;
  margin: 0 auto;
  position: relative;

  .dotw{
    position: absolute;
    right: 70px;
    top: 20px;
    max-width: 45%;

    img{
      max-width: 100%;
    }
  }
}
.header > img{
  width: 300px;
  margin-left: 490px;
}
.background{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  background-color: white;
}
.block{
  background-color: #c52033;
  width: 1140px;
  height: 495px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.block > .items{
  width: 1200px;
  height: 425px;
  margin-left: 12px;
  padding-top: 20px !important;
}
.items > .item{
  width: 365px;
  height: 410px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  position: relative;
  background-color: white;
  background-size: contain;
}
.item > h1{
  background: rgba(255,255,255,0.8);
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  line-height: 1;
}
.item > h2{
  position: absolute;
  bottom: -45px;
  right: 5px;
  font-size: 6em;
  line-height: 1;
  text-align: right;
  margin: 0;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #c52033;
  color: #fff200;
}

.item > h3{
  position: absolute;
  bottom: -45px;
  right: 5px;
  font-size: 3em;
  line-height: 1;
  text-align: right;
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c52033;
  color: #fff200;
}

.item > h2 > span{
  text-transform: uppercase;
  font-size: .3em;
  -webkit-text-stroke-width: 0px;
  color: white;
}
.footer{
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.footer > .black{
  background: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 3px;
}
.black > span{
  color: #fff200;
  font-weight: bold;
}
.footer > .red{
  background: #c52033;
  padding: 5px;
  margin-bottom: 3px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.red > span{
  background: #fff200;
  color: #c52033;
  padding: 3px;
  margin: 0 15px 0 15px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
}
.footer > .small{
  text-align: center;
  font-size: .5em;
}
.p2{
  position: relative;
}
.p2 > .red{
  width: 1140px;
  height: 770px;
  background: #c52033;
  border-radius: 10px;
  position: absolute;
  left: 70px;
  top: 70px;
}
.inner-red{
  position: relative;
  width: 1140px;
  height: 200px;
}
.inner-red > .items{
  width: 1070px;
  height: 220px;
  background: white;
  border-radius: 10px;
  position: absolute;
  left: 35px;
  margin: 0 auto;
}
.items1{
  top: 35px;
}
.items2{
  top: 275px;
}
.items3{
  top: 515px;
}
.inner-red > .items > .title{
  position: absolute;
  left: 15px;
  top: -18px;
  color: #fff200;
  text-transform: uppercase;
  font-weight: bold;
}
.inner-red > .items > .item{
  width: 160px;
  height: 200px;
  margin: 0px 5px 0 10px;
}
.inner-red > .items > .item > h1{
  font-size: .7em;
  margin: 0;
}
.inner-red > .items > .item > h2{
  font-size: 2.4em;
  -webkit-text-stroke-width: 1px;
  bottom: -15px;
  right: 0;
}
.inner-red > .items > .item > h2 > span{
  -webkit-text-stroke-width: 0px;
  color: black;
}
.middle-block{
  position: absolute;
  top: 860px;
  left: 70px;
  width: 1140px;
  height: 680px;
}
.inner-mb{
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
.inner-mb > .items {
}
.inner-mb > .items > .item{
  width: 262px;
  height: 160px;
  margin: 0px 0 5px 0;
  border-top: solid 5px #c52033;
  border-radius: 0;
}
.inner-mb > .items > .background{
  background-position: left bottom;
}
.inner-mb > .items > .item > h1{
  font-size: .9em;
  width: 100% !important;
  padding: 5px;
  margin: 0;
}
.inner-mb > .items > .item > h2{
  font-size: 2.4em;
  -webkit-text-stroke-width: 1px;
  bottom: 0px;
  right: 0;
}
.inner-mb > .items > .item > h2 > span{
  -webkit-text-stroke-width: 0px;
  color: black;
}
.ft{
  width: 1140px;
  height: 380px;
  border: solid 1px #f5f5f5;
  position: absolute;
  left: 70px;
  top: 1560px;
}
.ft-inner{
  position: relative;
  width: 1140px;
  height: 380px;
}
.ft-inner > .items > .item{
  width: 285px;
  height: 190px;
  margin: 0;
}
.ft-inner > .items > .item > h1{
  font-size: .9em;
  width: 100% !important;
  padding: 5px;
  margin: 0;
}
.ft-inner > .items > .item > h2{
  font-size: 3em;
  -webkit-text-stroke-width: 2px;
  bottom: 5px;
  right: 5px;
}
.ft-inner > .items > .item > h2 > span{
  -webkit-text-stroke-width: 0px;
  color: black;
  background: white;
  border-radius: 2px;
  padding: 1px 5px 1px 5px;
  margin-right: 5px;
  font-size: .1em;
}
.ft-inner > .items > .background{
  background-size: cover;
  background-position: center center;
}
.ft-inner > .items > .item > .title{
  width: 100%;
  background: #c52033;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
.produce{
  width: 250px !important;
}