@import url('https://fonts.googleapis.com/css?family=Gelasio|Lilita+One&display=swap');

$red: #C42033;
$yellow: #FEF102;

body {
  margin: 0;
  padding: 0;
  font-family: 'Gelasio', serif;
}

h1 {
  text-transform: capitalize;
}

sup{
  font-size: .6em;
}

span {
  text-transform: uppercase;
}

.container {
  width: 1280px;
  max-width: 1280px;
  height: 1978px;
  max-height: 1978px;
  margin: 0 auto;
  border: solid 1px #cccccc;
  overflow: hidden;

  .item{
    float: left;
    margin: 0;

    .item-container{
      padding: 3px;
      min-height: 210px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center 40%;
      background-color: white;
      position: relative;

      .item-description{
        text-transform: capitalize;
        line-height: 1;
        font-size: 11px;
        text-align: center;
        width: 100%;
        text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
      }

      .price{
        color: $red;
        line-height: 1;
        text-align: center;
        font-size: 32px;
        margin-top: 5px;
        position: absolute;
        bottom: 10%;
        width: 100%;
        font-family: 'Lilita One', cursive;

        .size{
          display: block;
          font-size: .5em;
        }
      }
    }

  }
}

.header {
  height: 275px;
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.header .dotw {
  position: absolute;
  right: 70px;
  top: 20px;
  max-width: 45%;
}

.header .dotw img {
  max-width: 100%;
}

.header > img {
  width: 300px;
  margin-left: 490px;
}

.background {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  background-color: white;
}

.block {
  background-color: #c52033;
  width: 1140px;
  height: 380px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.block > .items {
  width: 1200px;
  margin-left: 12px;
  padding-top: 20px !important;
}

.items > .item {
  width: 365px;
  height: 310px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  position: relative;
  background-color: white;
  background-size: contain;
  margin-bottom: 35px;
}

.item > h1 {
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  line-height: 1;
  text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}

.item > h2 {
  position: absolute;
  bottom: -30px;
  right: 5px;
  font-size: 6em;
  line-height: 1;
  text-align: right;
  margin: 0;
  color: $yellow;
  -webkit-text-stroke-color: #c52033;
  -webkit-text-stroke-width: 1px;
  font-family: 'Lilita One', cursive;
}

.item > h3 {
  position: absolute;
  bottom: -45px;
  right: 5px;
  font-size: 3em;
  line-height: 1;
  text-align: right;
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c52033;
  color: $yellow;
}

.item > h2 > span {
  text-transform: uppercase;
  font-size: 0.3em;
  -webkit-text-stroke-width: 0px;
  color: white;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer > .black {
  background: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 3px;
}

.black > span {
  color: $yellow;
  font-weight: bold;
}

.footer > .red {
  background: #c52033;
  padding: 5px;
  margin-bottom: 3px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.red > span {
  background: $yellow;
  color: #c52033;
  padding: 3px;
  margin: 0 15px 0 15px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
}

.footer > .small {
  text-align: center;
  font-size: 0.5em;
}

.p2 {
  position: relative;
}

.p2 > .red {
  width: 1140px;
  padding-bottom: 40px;
  background: #c52033;
  border-radius: 10px;
  position: absolute;
  left: 70px;
  top: 70px;
}

.inner-red {
  position: relative;
  width: 1140px;
  height: 200px;
  padding-left: 50%;
}

.inner-red > .items {
  width: 1070px;
  height: 180px;
  background: white;
  border-radius: 10px;
  position: relative;
  margin-left: -535px;
  margin-top: 20px;
}

.inner-red > .items > .title {
  position: absolute;
  left: 15px;
  top: -18px;
  color: $yellow;
  text-transform: uppercase;
  font-weight: bold;
}

.inner-red > .items > .item {
  width: 160px;
  height: 160px;
  margin: 0px 5px 0 10px;
}

.inner-red > .items > .item > h1 {
  font-size: 0.7em;
  margin: 0;
}

.inner-red > .items > .item > h2 {
  font-size: 2.4em;
  -webkit-text-stroke-width: 1px;
  bottom: -15px;
  right: 0;
}

.inner-red > .items > .item > h2 > span {
  -webkit-text-stroke-width: 0px;
  color: black;
}

.middle-block {
  position: absolute;
  top: 700px;
  left: 70px;
  width: 1140px;
  height: 680px;

  .item{

    .item-container{

      .item-description{

      }

      .price{
        background: white;
        border-radius: 50%;
        width: auto;
        font-size: 32px;
        padding: 15px;
        float: right;
      }
    }
  }
}

.inner-mb {
  width: 100%;
  margin: 0 auto;
}

.inner-mb > .items{
  width: 1140px;
}

.inner-mb > .items > .item {
  width: 12.5%;
  height: 120px;
}

.inner-mb > .items > .background {
  background-position: left bottom;
}

.inner-mb > .items > .item > h1 {
  font-size: 0.9em;
  width: 100% !important;
  padding: 5px;
  margin: 0;
}

.inner-mb > .items > .item > h2 {
  font-size: 2.4em;
  -webkit-text-stroke-width: 1px;
  bottom: 0px;
  right: 0;
}

.inner-mb > .items > .item > h2 > span {
  -webkit-text-stroke-width: 0px;
  color: black;
}

.ft {
  width: 1140px;
  height: 380px;
  border: solid 1px #f5f5f5;
  position: absolute;
  left: 70px;
  top: 1560px;
}

.ft-inner {
  position: relative;
  width: 1140px;
  height: 380px;
}

.ft-inner > .items > .item {
  width: 285px;
  height: 190px;
  margin: 0;
}

.ft-inner > .items > .item > h1 {
  font-size: 0.9em;
  width: 100% !important;
  padding: 5px;
  margin: 0;
}

.ft-inner > .items > .item > h2 {
  font-size: 3em;
  -webkit-text-stroke-width: 2px;
  bottom: 5px;
  right: 5px;
}

.ft-inner > .items > .item > h2 > span {
  -webkit-text-stroke-width: 0px;
  color: black;
  background: white;
  border-radius: 2px;
  padding: 1px 5px 1px 5px;
  margin-right: 5px;
  font-size: 0.1em;
}

.ft-inner > .items > .background {
  background-size: cover;
  background-position: center center;
}

.ft-inner > .items > .item > .title {
  width: 100%;
  background: #c52033;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.produce {
  width: 250px !important;
}

.col-8{
  width: 12.5% !important;
}

.col-4{
  width: 25% !important;
}

