#caleandar {
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}

.cld-main{
  width: 100%;
  margin: auto;
}
.cld-main a{
  color: #0080FF;
}
.cld-main svg{
  fill: #0080FF;
}
.cld-datetime{
  position: relative;
  width: 66%;
  min-width: 100px;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}
.cld-datetime .today{
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
}
.cld-nav{
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.cld-nav:hover{
  cursor: pointer;
}
.cld-nav:hover svg{
    fill: #005EFF;
}
.cld-rwd{
  float: left;
}
.cld-fwd{
  float: right;
}
.cld-nav svg:hover{

}
.cld-labels, .cld-days{
  padding-left: 0;
}
.cld-label, .cld-day{
  box-sizing: border-box;
  display: inline-block;
  width: 14.28%;
  text-align: center;
}
.cld-day{
  border: 1px solid #eee;
  height: 40px;
}
.cld-day.today .cld-number{
  background: #0080FF;
  color: #fff;
}
.cld-day.disableDay{
  opacity: 0.5;
}
.cld-day.nextMonth, .cld-day.prevMonth{
  opacity: 0.33;
}
.cld-number{
  position: relative;
  margin: 0;
  padding: 10px;
  overflow: visible;
}
.cld-title{
  display: none;
  padding: 5px 10px;
  background: #fff;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  z-index: 5;
}
.cld-number:hover .cld-title{
  display: table;
}
.cld-number.eventday{
  font-weight: bold;
  color: #0080FF;
  z-index: 1;
}
.cld-number.eventday:hover{
  cursor: pointer;
  background: #eee;
  z-index: 5;
}
.today .cld-number.eventday:hover{
  background: #005EFF;
  z-index: 5;
}