body {
    font-family: Arial, Helvetica, sans-serif;
}
.item-description {
    text-align: right !important;
    font-weight: bold;
    text-shadow: white 3px 0px 0px, white 2.83487px 0.981584px 0px, white 2.35766px 1.85511px 0px, white 1.62091px 2.52441px 0px, white 0.705713px 2.91581px 0px, white -0.287171px 2.98622px 0px, white -1.24844px 2.72789px 0px, white -2.07227px 2.16926px 0px, white -2.66798px 1.37182px 0px, white -2.96998px 0.42336px 0px, white -2.94502px -0.571704px 0px, white -2.59586px -1.50383px 0px, white -1.96093px -2.27041px 0px, white -1.11013px -2.78704px 0px, white -0.137119px -2.99686px 0px, white 0.850987px -2.87677px 0px, white 1.74541px -2.43999px 0px, white 2.44769px -1.73459px 0px, white 2.88051px -0.838247px 0px;
}

.item{
    border: solid 3px black;
    background-color: white;
}

.price{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.srp {
    font-style: italic;
    font-weight: normal;
    font-size: .8em;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.strike {
    text-decoration: line-through;
}

.standard-row{
    left: 70px;
    position: absolute;

    .item{
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.wsl{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: green;

    .inner{
        text-align: center;
        padding: 5px;
        color: white;
    }
}

.p1 {
    width: 989px;
    height: 1280px;
    position: absolute;
    left: 989px;
    top: 0;
    background: white;
    background: url(/img/holidays-gm-1.jpg) no-repeat;
    background-size: cover;

    .dates {
        font-weight: bold;
        position: absolute;
        top: 185px;
        left: 600px;
        color: white;
    }

    .logo{
        left: 760px;
        top: 0px;
        position: absolute;
        width: 165px;

        img{
            max-width: 100%;
        }
    }

    .item-row-1{
        position: absolute;
        left: 70px;
        top: 220px;

        .item {
            width: 430px;
            height: 270px;
            float: left;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left bottom;
            line-height: 1.2em;
            font-size: 24px;
            margin-right: 10px;
            margin-bottom: 10px;

            .p1-price{
                width: 100%;
                height: 100%;

                .item-description{
                    position: absolute;
                    right: 20px;
                    top: 20px;
                }
            }
        }
    }

    .standard-row{
        top: 795px;
        left: 70px;
    }
}

.p1-price {
    position: relative;
    height: 100%;
    width: 100%;

    .price {
        background: green;
        padding: 5px 10px 5px 10px;
        color: white;
        font-size: 2em;
        border-radius: 5px;
        line-height: 1;
    }
}

.p2 {
    width: 989px;
    height: 1275px;
    position: absolute;
    top: 1280px;
    left: 0;
    background: url(/img/holidays-gm-2.jpg) no-repeat;
    background-size: cover;

    .standard-row{
        top: 50px;

        .item{
            margin-right: 10px;
        }
    }

}

.p3 {
    width: 989px;
    height: 1275px;
    position: absolute;
    left: 989px;
    top: 1280px;
    background: url(/img/holidays-gm-2.jpg) no-repeat;
    background-size: cover;
}

.p4 {
    width: 990px;
    height: 1280px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/img/holidays-gm-3.jpg) no-repeat;
    background-size: cover;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 18px;
}

.p4 > .item-row-1 {
    position: absolute;
    top: 75px;
    left: 48px;
}

.p4{

    .item-row-1{

        .item, .p4 > .item-row-2 > .item, .p4 > .item-row-3 > .item {
            width: 200px;
            height: 300px;
            float: left;
            margin: 10px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right bottom;
        }
    }
}

.p4 > .item-row-2 {
    position: absolute;
    top: 410px;
    left: 48px;
}

.p4 > .item-row-3 {
    position: absolute;
    top: 750px;
    left: 48px;
}

.p1 > .standard-row > .item {
    width: 185px;
    height: 160px;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    float: left;
}

.p2 > .standard-row > .item, .p3 > .standard-row > .item {
    width: 184px;
    height: 186px;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    float: left;
}

.standard-row > .item > .p1-price > .price {
    padding: 10px;
    font-size: 22px;
}