@font-face {
  font-family: 'Bowlby One SC';
  src: url('/fonts/bowlby-one-v10-latin-regular.woff2') format('woff2'),
  url('/fonts/bowlby-one-v10-latin-regular.woff') format('woff'),
  url('/fonts/bowlby-one-v10-latin-regular.ttf') format('truetype');
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
h1{
  text-transform: capitalize;
}
.container{
  width: 1280px;
  height: 1978px;
  margin: 0 auto;
  border: solid 1px #cccccc;
}
.header{
  height: 240px;
  width: 1280px;
  margin: 0 auto;

  img{
    width: 300px;
    margin-left: 490px;
  }
}
.autoheader{
  height: 240px;
  width: 1280px;
  margin: 0 auto;

  .ah-left {
    width: 635px;
    height: 100%;
    float: left;

    img{
      width: 550px;
      margin-left: 75px;
      margin-top: -95px;
    }
  }

  .ah-right {
    width: 635px;
    height: 100%;
    float: right;
  }
}

.ah-locations{
  margin-top: 80px;
  font-weight: bold;
  font-size: 22px;
}
.ah-locations > img{
  height: 125px;
  float: left;
  margin-right: 25px;
}
.background{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  background-color: white;
}
.block{
  background-image: url('/img/torn-bg.png');
  width: 1140px;
  height: 495px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.wow{
  position: relative
}
.wow > img{
  position: absolute;
  top: 335;
  z-index: 1;
  width: 200px;
}
.block > .items{
  width: 1140px;
  height: 425px;
  margin-left: 55px;
  padding-top: 20px !important;
}
.items > .item{
  width: 500px;
  height: 410px;
  float: left;
  margin-right: 25px;
  position: relative;
  background-color: white;
  background-size: contain;
}
.item > h1{
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  line-height: 1;

  span {
    text-transform: uppercase;
    text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
  }
}
.item > h2{
  position: absolute;
  bottom: -50px;
  right: 5px;
  font-size: 8em;
  line-height: .9;
  text-align: right;
  margin: 0;
  color: #D0072B;
}

.item > h2 > span{
  text-transform: uppercase;
  font-size: .3em;
  color: white;
}

.footer{
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.footer > .black{
  background: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 3px;
}
.black > span{
  color: #FFD602;
  font-weight: bold;
}
.footer > .red{
  background: #000000;
  padding: 5px;
  margin-bottom: 3px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.red > span{
  background: #FFD602;
  color: #000000;
  padding: 3px;
  margin: 0 15px 0 15px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
}
.footer > .small{
  text-align: center;
  font-size: .5em;
}
.p2{
  position: relative;
}
.p2 > .red{
  width: 1140px;
  height: 770px;
  background: #000000;
  position: absolute;
  left: 70px;
  top: 70px;
}
.inner-red > .items{
  width: 1070px;
  height: 220px;
  background: white;
  position: absolute;
  left: 35px;
  margin: 0 auto;
}
.inner-red > .items > .title{
  position: absolute;
  left: 15px;
  top: -18px;
  color: #FFD602;
  text-transform: uppercase;
  font-weight: bold;
}
.inner-red > .items > .item{
  width: 160px;
  height: 200px;
  margin: 0px 5px 0 10px;
}
.inner-red > .items > .item > h1{
  font-size: .7em;
  margin: 0;
}
.inner-red > .items > .item > h2{
  font-size: 2.4em;
  -webkit-text-stroke-width: 1px;
  bottom: -15px;
  right: 0;
}
.inner-red > .items > .item > h2 > span{
  -webkit-text-stroke-width: 0px;
}
.middle-block{
  position: absolute;
  top: 40px;
  left: 70px;
  width: 1140px;
  height: 680px;
}
.inner-mb{
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
.inner-mb > .items {
}
.inner-mb > .items > .item{
  width: 262px;
  height: 220px;
  margin: 0px 0 5px 0;
  border-top: solid 5px #000000;
  border-radius: 0;
}
.inner-mb > .items > .background{
  background-position: left bottom;
}
.inner-mb > .items > .item > h1{
  width: 252px;
  font-size: 1.2em;
  /*width: 100% !important;*/
  padding: 5px;
  margin: 0;
}
.inner-mb > .items > .item > h2{
  font-size: 2.4em;
  -webkit-text-stroke-width: 2px;
  bottom: 0;
  right: 0;
  line-height: 1;
}
.inner-mb > .items > .item > h2 > span{
  color: #000;
  background: #fff;
  font-size: .4em;
  border-radius: 2px;
  -webkit-text-stroke-width: 0;
  margin-right: 5px;
  padding: 1px 5px 1px 5px;
  line-height: 25px;
}
.ft-inner > .items > .item{
  width: 285px;
  height: 290px;
  margin: 0;
}
.ft-inner > .items > .item > h1{
  font-size: .9em;
  width: 100% !important;
  padding: 5px;
  margin: 0;
}
.ft-inner > .items > .item > h2{
  font-size: 3em;
  -webkit-text-stroke-width: 2px;
  bottom: 5px;
  right: 5px;
}
.ft-inner > .items > .item > h2 > span{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: #000;
}
.ft-inner > .items > .background{
  background-size: cover;
  background-position: center center;
}
.ft-inner > .items > .item > .title{
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cost-plus {
  padding: 5px;
  font-size: 1em;
  text-align: justify;
}

.item-description{
  text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;

  span{
    text-transform: uppercase;
  }
}

.price{
  text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;

  span{
    text-shadow: none;
  }
}

.bowlby{
    font-family: 'Bowlby One SC', 'Arial', 'sans-serif';
    font-size: 6.5em !important;
}

.dotw {
  position: absolute;
  left: 640px;
  top: 50px;
  z-index: 1000;
}

.locs {
  position: absolute;
  bottom: 115px;
  right: 72px;
  z-index: 1000;
  font-size: 19px;
}