$red: #C52033;

body {
  margin: 0;
  padding: 0;
  font-family: 'Bowlby One SC', cursive;
  font-weight: bold;
}

sup{
  vertical-align: top;
}

.p1 {
  width: 1280px;
  height: 1978px;
  position: relative;

  .block{
    width: 100%;
  }
}

.p2 {
  width: 1280px;
  height: 1978px;
  position: relative;

  .block{
    width: 80%;
  }

  .item-container{
    min-height: 160px !important;
  }
}

.container {
  width: 1280px;
  height: 1978px;
  margin: 0 auto;
  background: url(/img/ads/sm-ad-bg.jpg);
  position: relative;

  .header {
    background: url(/img/ads/sm-pattern-alpha-03.png) purple;
    height: 480px;
    width: 100%;
    position: relative;
    margin-bottom: -240px;

    img {
      width: 400px;
      position: absolute;
      left: 10%;
      top: 10%;
      margin-top: -70px;
    }

    .dotw{
      width: 643px;
      background: url(/img/dotw-block.png);
      height: 231px;
      float: right;
      margin-top: -20px;
    }
  }

  .inner-container {
    padding-top: 40px;
    width: 1200px;
    margin: 0 auto;
    position: relative;

    .block{
      padding: 10px;
      display: inline-block;

      .item {
        width: 20%;
        max-width: 100%;
        float: left;

        .item-container {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: left bottom;
          background-color: white;
          position: relative;
          margin: 5px;
          min-height: 200px;

          .item-description {
            font-size: 14px;
            line-height: 1;
            font-weight: bold;
            text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
            text-transform: capitalize;
            font-family: 'Bowlby One SC', cursive;
            text-align: center;

            span {
              text-transform: uppercase;
            }
          }

          .price {
            font-family: 'Bowlby One SC', cursive;
            font-weight: bold;
            padding: 5px;
            text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
            color: $red;
            letter-spacing: -3px;
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 48px;
            line-height: 1;
            text-align: right;

            span {
              letter-spacing: normal;
              font-size: 18px;
            }

            .size {
              font-weight: normal;
              text-transform: uppercase;
              font-size: 18px;
            }
          }
        }
      }

      .featured{
        height: 300px;

        .item-description{
          font-size: 24px !important;
        }
      }
    }
  }
}

.dates {
  width: 80%;
  left: 10%;
  text-align: center;
  position: absolute;
  bottom: 30px;

  img{
    width: 100%;
  }
}

.half{
  width: 50% !important;

  .item-container{
    min-height: 400px !important;

    .item-description{
      font-size: 32px !important;
    }

    .price{
      font-size: 96px !important;
    }
  }
}

.third{
  width: 33.3333% !important;
}

.fourth{
  width: 25% !important;
}

.produce{
  background: url(/img/ads/sm-pattern-alpha-01.png) green;
}

.meat{
  background: url(/img/ads/sm-pattern-alpha-02.png) red;
}

.grocery{
  background: url(/img/ads/sm-pattern-alpha-03.png) orange;
}

.bakery{
  background: url(/img/ads/sm-pattern-alpha-03.png) orange;
}

.deli{
  background: url(/img/ads/sm-pattern-alpha-02.png) red;
}

.hbc{
  background: url(/img/ads/sm-pattern-alpha-01.png) blue;
}

.strip{
  background: url(/img/baratisimo.png) black !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  position: absolute;
  right: 0;
  top: 0;
  width: 190px !important;
  padding-top: 250px !important;

  .item{
    width: 100% !important;

    .item-container{
      min-height: 250px !important;
    }
  }
}

.dotw {
  position: absolute;
  top: 50px;
  left: 566px;
}

.h220{
  height: 220px;
  background-position: center 30% !important;
}