$red: #C52033;

@font-face {
  font-family: 'Sigmar One';
  src: url('/fonts/SigmarOne-Regular.ttf') format('truetype');
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.container{
  width: 1280px;
  height: 1978px;
  margin: 0 auto;
}

.p1{
  width: 1280px;
  height: 1978px;

  .inner-container{
    position: relative;
    min-height: 1978px;
    min-width: 1280px;

    .produce{
      position: absolute;
      top: 350px;
      left: 95px;

      .item{
        background-color: white;
        border-radius: 10px;
        width: 530px;
        height: 375px;
        float: left;
        margin-right: 20px;

        .item-container{
          position: relative;
          min-height: 375px;

          .item-description{
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 32px;
            text-align: right;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            font-family: 'Sigmar One', 'Arial', 'sans-serif';
            position: absolute;
            bottom: 15px;
            right: 15px;
            text-align: right;
            font-size: 108px;
            line-height: 1;

            span{
              text-transform: uppercase;
              font-size: 21px;
            }
          }
        }
      }
    }

    .meat{
      position: absolute;
      top: 845px;
      left: 95px;

      .item{
        background-color: white;
        border-radius: 10px;
        width: 530px;
        height: 375px;
        float: left;
        margin-right: 20px;

        .item-container{
          position: relative;
          min-height: 375px;

          .item-description{
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 32px;
            text-align: right;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            font-family: 'Sigmar One', 'Arial', 'sans-serif';
            position: absolute;
            bottom: 15px;
            right: 15px;
            text-align: right;
            font-size: 108px;
            line-height: 1;

            span{
              text-transform: uppercase;
              font-size: 21px;
            }
          }
        }
      }
    }

    .grocery{
      position: absolute;
      top: 1340px;
      left: 95px;

      .item{
        background-color: white;
        border-radius: 10px;
        width: 530px;
        height: 375px;
        float: left;
        margin-right: 20px;

        .item-container{
          position: relative;
          min-height: 375px;

          .item-description{
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 32px;
            text-align: right;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            font-family: 'Sigmar One', 'Arial', 'sans-serif';
            position: absolute;
            bottom: 15px;
            right: 15px;
            text-align: right;
            font-size: 108px;
            line-height: 1;

            span{
              text-transform: uppercase;
              font-size: 21px;
            }
          }
        }
      }
    }




  }
}

.p2{
  width: 1280px;
  height: 1978px;

  .inner-container{
    position: relative;
    min-height: 1978px;
    min-width: 1280px;

    .grocery{
      position: absolute;
      left: 110px;
      top: 130px;

      .item{
        background-color: white;
        border-radius: 10px;
        width: 203px;
        height: 180px;
        float: left;
        margin-right: 10px;
        margin-bottom: 20px;

        .item-container{
          min-width: 203px;
          min-height: 180px;
          position: relative;

          .item-description{
            top: 10px;
            right: 10px;
            position: absolute;
            text-align: right;
            font-size: 14px;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            position: absolute;
            right: 10px;
            bottom: 0px;
            text-align: right;
            font-size: 36px;
            line-height: 1;

            span{
              font-size: 12px;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .meat{
      position: absolute;
      left: 110px;
      top: 590px;

      .item{
        background-color: white;
        border-radius: 10px;
        width: 255px;
        height: 160px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        .item-container{
          min-width: 255px;
          min-height: 180px;
          position: relative;

          .item-description{
            top: 10px;
            right: 10px;
            position: absolute;
            text-align: right;
            font-size: 12px;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            position: absolute;
            right: 10px;
            bottom: 10px;
            text-align: right;
            font-size: 36px;
            line-height: 1;

            span{
              font-size: 12px;
              text-transform: uppercase;
            }
          }
        }
      }

      .featured{
        width: 343px;
      }
    }

    .produce{
      position: absolute;
      left: 110px;
      top: 990px;

      .item{
        background-color: white;
        border-radius: 10px;
        width: 255px;
        height: 160px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        .item-container{
          min-width: 255px;
          min-height: 180px;
          position: relative;

          .item-description{
            top: 10px;
            right: 10px;
            position: absolute;
            text-align: right;
            font-size: 12px;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            position: absolute;
            right: 10px;
            bottom: 10px;
            text-align: right;
            font-size: 36px;
            line-height: 1;

            span{
              font-size: 12px;
              text-transform: uppercase;
            }
          }
        }
      }

      .featured{
        width: 343px;
      }
    }

    .bakery{
      position: absolute;
      left: 110px;
      top: 1200px;

      .item{
        background-color: white;
        border-radius: 10px;
        width: 255px;
        height: 160px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        .item-container{
          min-width: 255px;
          min-height: 180px;
          position: relative;

          .item-description{
            top: 10px;
            right: 10px;
            position: absolute;
            text-align: right;
            font-size: 12px;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            position: absolute;
            right: 10px;
            bottom: 10px;
            text-align: right;
            font-size: 36px;
            line-height: 1;

            span{
              font-size: 12px;
              text-transform: uppercase;
            }
          }
        }
      }

      .featured{
        width: 343px;
      }
    }

    .deli{
      position: absolute;
      left: 110px;
      top: 1400px;

      .item{
        background-color: white;
        border-radius: 10px;
        width: 255px;
        height: 160px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        .item-container{
          min-width: 255px;
          min-height: 180px;
          position: relative;

          .item-description{
            top: 10px;
            right: 10px;
            position: absolute;
            text-align: right;
            font-size: 12px;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            position: absolute;
            right: 10px;
            bottom: 10px;
            text-align: right;
            font-size: 36px;
            line-height: 1;

            span{
              font-size: 12px;
              text-transform: uppercase;
            }
          }
        }
      }

      .featured{
        width: 343px;
      }
    }

    .hbc{
      position: absolute;
      left: 110px;
      top: 1610px;

      .item{
        background-color: white;
        background-position: left;
        border-radius: 10px;
        width: 343px;
        height: 135px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        .item-container{
          min-width: 255px;
          min-height: 155px;
          position: relative;

          .item-description{
            top: 10px;
            right: 10px;
            position: absolute;
            text-align: right;
            font-size: 18px;
            max-width: 55%;

            span {
              text-transform: uppercase;
            }
          }

          .price{
            position: absolute;
            right: 10px;
            bottom: 10px;
            text-align: right;
            font-size: 36px;
            line-height: 1;

            span{
              font-size: 12px;
              text-transform: uppercase;
            }
          }
        }
      }

      .featured{
        width: 343px;
      }
    }




  }

}

.item{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  background-color: white;
}

.item-description{
  line-height: 1;
  font-weight: bold;
  text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
  text-transform: capitalize;

  span {
    text-transform: uppercase;
  }
}
.size{
  font-weight: normal;
  text-transform: uppercase;
}
.item-container{
  position: relative;
}
.inner-container{
  position: relative;
}
.price{
  font-weight: bold;
  padding: 5px;
  text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
  color: $red;
  letter-spacing: -3px;

  span{
    letter-spacing: normal;
  }
}

.dates {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50px;
}

.dotw {
  position: absolute;
  top: 50px;
  left: 566px;
}