$blue : #017299;
$light_blue: #c5e1e4;
$red: #C41230;
$purple: #9d3293;

body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    letter-spacing: -1px;
}

h1{
    text-transform: capitalize;
}

span{
    text-transform: uppercase;
}

.container{
    width: 1978px;
    height: 1280px;
    margin: 0 auto;
    //border: solid 1px #cccccc;
    position: relative;
}

.p1{
    width: 989px;
    height: 1280px;
    position: absolute;
    left: 989px;
    top: 0;
    background: white;

    .header{
        width: 989px;
        height: 150px;
        background: url(/img/uptown-ad-header.jpg) no-repeat;
    }

    .featured-block{
        width: 930px;
        height: 570px;
        position: absolute;
        left: 20px;
        top: 165px;
        //border-bottom: solid 1px black;

        .featured-content{
            position: relative;
            width: 989px;
            height: 570px;

            .featured-item{
                position: absolute;
                width: 570px;
                height: 524px;
                top: 40px;
                left: 40px;

                .item-container{
                    min-height: 524px;

                    .item-description{
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        max-width: 100%;
                        font-size: 42px;

                        .size{
                            font-weight: normal;
                        }
                    }

                    .price{
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                        font-size: 96px;
                        text-align: right;
                        line-height: 1;

                        span{
                            font-size: 24px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .right-col{
                position: absolute;
                left: 640px;
                top: 0;
                width: 290px;
                min-height: 570px;
                background: #f5f5f5;

                .right-col-container{
                    position: relative;

                    .right-col-item{

                        .item-container{

                            .item-description{
                                height: 285px;
                                font-size: 24px;
                                text-align: right;

                                .size{
                                    font-size: 18px;
                                }
                            }

                            .price{
                                position: absolute;
                                right: 10px;
                                bottom: 10px;
                                font-size: 36px;
                                text-align: right;
                                line-height: 1;

                                span{
                                    text-transform: uppercase;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .front-footer{
        position: absolute;
        left: 20px;
        top: 780px;
        width: 930px;
        height: 480px;

        .front-footer-content{
            position: relative;

            .front-footer-item{
                width: 300px;
                height: 240px;
                float: left;
                padding-right: 10px;

                .item-container{
                    position: relative;
                    min-height: 240px;

                    .item-description{
                        position: absolute;
                        left: 10px;
                        top: 10px;
                    }

                    .price{
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        font-size: 36px;
                        text-align: right;
                        line-height: 1;

                        span{
                            text-transform: uppercase;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}


.p2{
    width: 989px;
    height: 1280px;
    position: absolute;
    top: 0;
    left: 0;

    .inner-container{
        width: 930px;
        margin: 0 auto;
        padding-top: 30px;

        .meat{
            margin-bottom: 10px;
            float: left;

            .title{
                background: $light_blue;
                font-weight: bold;
                text-transform: uppercase;
                padding: 15px;

                span{
                    color: $red;
                    text-transform: capitalize;
                    margin-left: 40px;
                    font-family: 'CooperBTforWFM', 'Times New Roman', Times, serif;
                    font-style: italic;
                    font-size: 1.5em;
                }
            }

            .item{
                width: 310px;
                float: left;
                height: 180px;

                .item-container{
                    min-height: 180px;

                    .item-description{
                        position: absolute;
                        top: 10px;
                        left: 10px;

                        .size{
                            font-size: .7em;
                        }
                    }

                    .price{
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        font-size: 32px;
                        text-align: right;
                        line-height: 1;

                        span{
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .deli{
            margin-top: 10px;
            height: 300px;
            float: left;

            .title{
                background: $blue;
                font-weight: bold;
                text-transform: uppercase;
                padding: 15px;
                color: white;

                span{
                    color: $red;
                    background: white;
                    border: solid 1px black;
                    border-radius: 4px;
                    padding: 5px;
                    text-transform: capitalize;
                    margin-left: 40px;
                    font-family: 'CooperBTforWFM', 'Times New Roman', Times, serif;
                    font-size: 1em;
                    transform: skewX(25deg);
                }
            }

            .item{
                width: 232.5px;
                float: left;
                height: 260px;
                margin-bottom: 50px;

                .item-container{
                    min-height: 100%;

                    .item-description{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        vertical-align: top;

                        .size{
                            font-size: .7em;
                        }
                    }

                    .price{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        font-size: 32px;
                        text-align: right;
                        line-height: 1;

                        span{
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .sushi{
            margin-top: 10px;
            float: left;
            width: 930px;

            .title{
                background: $blue;
                font-weight: bold;
                text-transform: uppercase;
                padding: 15px;
                color: white;

                span{
                    color: $red;
                    background: white;
                    border: solid 1px black;
                    border-radius: 4px;
                    padding: 5px;
                    text-transform: capitalize;
                    margin-left: 40px;
                    font-family: 'CooperBTforWFM', 'Times New Roman', Times, serif;
                    font-size: 1em;
                    transform: skewX(25deg);
                }
            }

            .item{
                width: 310px;
                float: left;
                height: 220px;
                margin-bottom: 15px;
                background-size: cover;
                background-position: top center;

                .item-container{
                    min-height: 220px;

                    .item-description{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        vertical-align: top;

                        .size{
                            font-size: .7em;
                        }
                    }

                    .price{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        font-size: 32px;
                        line-height: 1;
                        text-align: right;

                        span{
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .banners{
            width: 930px;
            float: left;
            height: 190px;
            background: #f5f5f5;
            border: solid 1px #cccccc;
        }
    }
}

.p3{
    width: 989px;
    height: 1280px;
    position: absolute;
    left: 989px;
    top: 0;

    .inner-container{
        width: 930px;
        margin: 0 auto;
        padding-top: 30px;

        .grocery{
            margin-bottom: 10px;
            float: left;
            min-height: 660px;
            min-width: 930px;

            .title{
                background: $red;
                font-weight: bold;
                text-transform: uppercase;
                padding: 15px;
                color: #ffffff;

                span{
                    color: white;
                    text-transform: capitalize;
                    margin-left: 40px;
                    font-family: 'CooperBTforWFM', 'Times New Roman', Times, serif;
                    font-style: italic;
                    font-size: 1.5em;
                }
            }

            .item{
                width: 232.5px;
                float: left;
                height: 150px;
                margin-bottom: 10px;
                margin-top: 5px;

                .item-container{
                    min-height: 150px;

                    .item-description{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-size: .9em;
                        line-height: 1.2;

                        .size{
                            font-size: .7em;
                        }
                    }

                    .price{
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        font-size: 24px;
                        text-align: right;
                        line-height: 1;

                        span{
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .hbc{
            margin-top: 10px;
            float: left;

            .title{
                background: $purple;
                font-weight: bold;
                text-transform: uppercase;
                padding: 15px;
                color: white;

                span{
                    color: $red;
                    background: white;
                    border: solid 1px black;
                    border-radius: 4px;
                    padding: 5px;
                    text-transform: capitalize;
                    margin-left: 40px;
                    font-family: 'CooperBTforWFM', 'Times New Roman', Times, serif;
                    font-size: 1em;
                    transform: skewX(25deg);
                }
            }

            .item{
                width: 310px;
                float: left;
                height: 180px;
                margin-bottom: 50px;
                background-position: top left;

                .item-container{
                    min-height: 180px;

                    .item-description{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        vertical-align: top;
                        text-align: right;

                        .size{
                            font-size: .7em;
                        }
                    }

                    .price{
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        font-size: 32px;
                        text-align: right;
                        line-height: 1;

                        span{
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.p4{
    width: 990px;
    height: 1280px;
    position: absolute;
    left: 0;
    top: 0;

    .container{
        position: relative;

        .inner-container{
            position: absolute;
            top: 30px;
            left: 30px;
            width: 930px;
            height: 1240px;

            .item{
                width: 228px;
                height: 175px;
                float: left;

                .item-container{
                    position: relative;
                    min-height: 175px;

                    .item-description{
                        position: absolute;
                        left: 20px;
                        top: 20px;
                        font-size: 21px;

                        .size{
                            font-size: 11px;
                        }
                    }

                    .price{
                        position: absolute;
                        bottom: 20px;
                        right: 20px;
                        font-size: 24px;
                        text-align: right;
                        line-height: 1;

                        span{
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .featured{
                width: 246px;
                height: 350px;
                float: left;

                .item-container{
                    height: 350px;

                    .item-description{
                        font-size: 24px;

                        .size{
                            font-size: 16px;
                        }
                    }

                    .price{
                        font-size: 36px;
                    }
                }
            }
        }

        .blue{
            background-color: $blue;
            width: 900px;
            height: 140px;
            position: absolute;
            top: 390px;
            left: 30px;
            padding: 15px;

            .item{
                width: 448px;
                height: 140px;
                float: left;
                background-position: top left;

                .item-container{
                    min-height: 140px;

                    .item-description{
                        position: absolute;
                        font-size: 21px;
                        right: 10px;
                        top: 10px;
                        text-align: right;

                        .size{
                            font-size: 12px;
                        }
                    }

                    .price{
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                        font-size: 36px;
                        line-height: 1;
                        text-align: right;

                        span{
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }
                }
            }

            .side{
                border-right: solid 2px $blue;
            }
        }

        .bakery{
            position: absolute;
            left: 30px;
            top: 570px;
            width: 930px;

            .title{
                background: $blue;
                padding: 15px;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
            }

            .item{
                width: 310px;
                height: 240px;
                float: left;
                background-size: cover;
                background-position: center top;

                .item-container{
                    min-height: 240px;

                    .item-description{
                        position: absolute;
                        bottom: 10px;
                        left: 0px;
                        padding: 10px;
                        width: 290px;
                        text-align: center;
                    }

                    .price{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        font-size: 32px;
                        text-align: right;
                        line-height: 1;

                        span{
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .cheese{
            position: absolute;
            left: 30px;
            top: 860px;
            width: 930px;

            .title{
                background: $blue;
                padding: 15px;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
            }

            .item{
                width: 310px;
                height: 240px;
                float: left;
                background-size: cover;
                background-position: center top;

                .item-container{
                    min-height: 240px;

                    .item-description{
                        position: absolute;
                        bottom: 10px;
                        left: 0px;
                        padding: 10px;
                        width: 290px;
                        text-align: center;
                    }

                    .price{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        font-size: 32px;
                        text-align: right;
                        line-height: 1;

                        span{
                            text-transform: uppercase;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .footer{
            width: 930px;
            height: 80px;
            position: absolute;
            left: 30px;
            top: 1145px;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 0;
            text-align: center;

            .disclaimer{
                padding-bottom: 10px;
                border-bottom: solid 1px black;
                margin-bottom: 10px;
                margin-top: 10px;
            }

            .apple-pay{
                width: 60px;
                float: left;
                margin-right: 10px;

                img{
                    max-width: 100%;
                }
            }

            .android-pay{
                float: left;
                margin-right: 10px;

                img{
                    max-width: 100%;
                    max-height: 38px;
                }
            }

            .facebook-logo{
                float: left;
                min-width: 240px;
                border: solid 1px #cccccc;
                border-radius: 5px;
                height: 38px;

                img{
                    max-height: 28px;
                    padding: 5px;
                }
            }

            .stores{
                width: 530px;
                float: left;

                .store{
                    float: left;
                    width: 50%;

                    .store-container{
                        padding: 5px 15px 5px 15px;
                        margin: 0;
                    }
                }
            }


        }
    }
}



.item{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-color: white;
}

.item-description{
    line-height: 1;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}
.size{
    font-weight: normal;
    text-transform: uppercase;
}
.item-container{
    position: relative;
}
.inner-container{
    position: relative;
}
.price{
    font-weight: bold;
    background-color: #C1D82F;
    border-radius: 0 20px 0 20px;
    border: solid 2px #000000;
    padding: 5px;
}
.dotw {
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20px;
}