body {
    font-family: Arial, Helvetica, sans-serif;
}
.item-description {
    text-align: right !important;
    font-weight: bold;
    text-shadow: white 3px 0px 0px, white 2.83487px 0.981584px 0px, white 2.35766px 1.85511px 0px, white 1.62091px 2.52441px 0px, white 0.705713px 2.91581px 0px, white -0.287171px 2.98622px 0px, white -1.24844px 2.72789px 0px, white -2.07227px 2.16926px 0px, white -2.66798px 1.37182px 0px, white -2.96998px 0.42336px 0px, white -2.94502px -0.571704px 0px, white -2.59586px -1.50383px 0px, white -1.96093px -2.27041px 0px, white -1.11013px -2.78704px 0px, white -0.137119px -2.99686px 0px, white 0.850987px -2.87677px 0px, white 1.74541px -2.43999px 0px, white 2.44769px -1.73459px 0px, white 2.88051px -0.838247px 0px;
}
.p1 {
    width: 989px;
    height: 1280px;
    position: absolute;
    left: 989px;
    top: 0;
    background: white;
    background: url(/img/upt-spc-1.jpg) no-repeat;
    background-size: cover;
    font-weight: bold;
}
.p1 > .dates {
    font-weight: normal;
    position: absolute;
    top: 179px;
    left: 50px;
}
.p1 > .item-row-1 {
    position: absolute;
    top: 204px;
    left: 38px;
}
.p1 > .item-row-1 > .item {
    width: 425px;
    height: 266px;
    float: left;
    margin: 10px;
    padding: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    line-height: 1.2em;
    font-size: 24px;
}
.p1 > .item-row-2 {
    position: absolute;
    top: 504px;
    left: 38px;
}
.p1 > .item-row-2 > .item {
    width: 425px;
    height: 266px;
    float: left;
    margin: 10px;
    padding: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    line-height: 1.2em;
    font-size: 24px;
}
.p1-price {
    position: relative;
    height: 100%;
    width: 100%;
}
.p1-price > .price {
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    font-weight: bold;
    background-color: #C1D82F;
    border-radius: 0 20px 0 20px;
    border: solid 2px #000000;
    padding: 25px 10px 25px 10px;
    font-size: 55px;
}
.p2 {
    width: 989px;
    height: 1275px;
    position: absolute;
    top: 1280px;
    left: 0;
    background: url(/img/upt-spc-2.jpg) no-repeat;
    background-size: cover;
}
.p3 {
    width: 989px;
    height: 1275px;
    position: absolute;
    left: 989px;
    top: 1280px;
    background: url(/img/upt-spc-2.jpg) no-repeat;
    background-size: cover;
}
.p4 {
    width: 990px;
    height: 1280px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/img/upt-spc-4.jpg) no-repeat;
    background-size: cover;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 18px;
}
.p4 > .item-row-1 {
    position: absolute;
    top: 75px;
    left: 48px;
}
.p4 > .item-row-1 > .item, .p4 > .item-row-2 > .item, .p4 > .item-row-3 > .item {
    width: 200px;
    height: 300px;
    float: left;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.p4 > .item-row-2 {
    position: absolute;
    top: 410px;
    left: 48px;
}
.p4 > .item-row-3 {
    position: absolute;
    top: 750px;
    left: 48px;
}
.p1 > .standard-row {
    margin-left: 39px;
    position: absolute;
    top: 802px;
}
.p1 > .standard-row > .item {
    width: 185px;
    height: 160px;
    margin-top: 12px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 11px;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    float: left;
}
.p2 > .standard-row, .p3 > .standard-row {
    margin-left: 51px;
    position: absolute;
    top: 59px;
}
.p2 > .standard-row > .item, .p3 > .standard-row > .item {
    width: 184px;
    height: 186px;
    margin: 0 24px 27px 0;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    float: left;
}
.standard-row > .item > .p1-price > .price {
    padding: 10px;
    font-size: 22px;
}