<template>
    <div>
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div v-for="(slide, index) in slides" class="carousel-item" :class="{ 'active' : index === 0 }" data-interval="3000">
                    <img class="d-block w-100" alt="..." :src="slide.file">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data: function(){
            return {
                slides: null,
            }
        },

        created() {
            this.interval = setInterval(() => this.loadSlides(), 3600000);
        },

        mounted() {
            this.loadSlides();
        },

        props : [],

        computed: {

        },

        methods : {

            loadSlides: function(event){
                let currentObj = this;
                axios.get('/gallery/billboard/10?api')
                    .then(function(response){
                        this.slides = response.data;
                        console.log(response.data);
                    }.bind(this));
            }

        },

    }
</script>
