<template>
    <div>
        <div class="form-group">
            <label>{{ t.topic }}</label>
            <div class="input-group">
                <select name="topic" class="form-control" v-on:change="rating" v-model="score">
                    <option value="">Select...</option>
                    <option value="2">Model</option>
                    <option value="1">Near Model</option>
                    <option value="0">Needs Improvement</option>
                </select>
                <div class="input-group-btn">
                    <button class="btn btn-success" v-bind:disabled="id === 0" v-on:click="comment">
                        <i class="fa fa-comments"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group" v-if="comments_field !== 0">
            <textarea cols="30" rows="10" class="form-control" v-model="comments" v-on:keyup="rating"></textarea>
        </div>
    </div>
</template>

<script>
    export default {

        data: function(){
            return {
                score: 0,
                id: 0,
                comments_field: 0,
                comments: ''
            }
        },

        mounted() {
            axios.get('/ctw-score/check/' + this.evaluation + '/' + this.t.id)
                .then(function(response){
                    this.score = response.data.score;
                    this.id = response.data.id;
                    this.comments = response.data.comments;
                }.bind(this));
        },

        props : ['evaluation', 'topic'],

        computed: {
            t: function(){
                return JSON.parse(this.topic);
            },
        },

        methods : {

            rating: function(event){
                let currentObj = this;
                axios.post('/ctw-score', {
                    evaluation_id: this.evaluation,
                    topic_id: this.t.id,
                    score: this.score,
                    comments: this.comments
                })
                .then(function (response) {
                    currentObj.output = response.data;
                    this.id = response.data.topic_id
                }.bind(this))
                .catch(function (error) {
                    currentObj.output = error;
                });
            },

            comment: function (event) {
                if( this.comments_field === 1 ) { this.comments_field = 0 }else{ this.comments_field = 1; }
            }

        },

    }
</script>
